.chosen-worker{
    width: 100%;
    display: flex;
    height: fit-content;
}

.chosen-worker-start{
    flex-grow: 1;
    border-right: 1px solid rgba(204, 204, 204, 0.623);
}
.worker-end{
    width: 300px;
}
.chosen-worker .left{
    flex-grow: 1;
    
    display: flex;

}
.general{
   flex-grow: 1;
}

.editable-top{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(204, 204, 204, 0.623);
    width: 100%;
    padding: 10px 0px;
    gap: 1em;
    background-color: rgb(255, 251, 251);
}
.title-of-worker{
    padding-left: 20px;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
}

.editable-field{
    padding: 10px 20px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0) ;
    border-radius: 50px;
    margin-top: 10px;
    width: 80%;
}
.editable-field.left{
    border-radius: 0px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2em;
    padding-left: 20px;
   
}
.editable-field.left svg{
    fill: rgb(173, 173, 255);
}
.all-foods-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10px;
}
.pick{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.055);
    border-radius: 10px;
    width: calc(100% - 40px);

}
.food-picked {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}
.pick svg{
    fill: orange;
}
.editing-orders-bg,
.adding-name-bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 19;
    background-color: rgba(0, 0, 0, 0.226);
}
.editing-orders,
.editing-name{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    z-index: 20;
    display: grid;
    place-content: center;
    width: 85%;
    max-width: 350px;
}

.editing-name input{
    padding: 5px 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgb(255, 176, 176);
    margin-top: 10px;

}

.editing-name .modal-bottom{
    margin-top: 10px;
}

.worker-end .editable-top{
    height: 24px;
}

.worker-end span{
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
}
.worker-end p{
    font-weight: 700;
    font-style: italic;
}
.date-lower{
    padding: 10px 20px;
   
}
.date-lower p {
    margin-top: 10px;
}

.worker-left{
    border-right: 1px solid rgba(97, 97, 97, 0.281);
}

.general{
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 1px 1px 5px 1px rgb(255, 244, 244);
    border-radius: 12px;
}
.general:hover{
   
    transform: translateY(-10px);
    background-color: white;
    transition: all 300ms ease;
    
 
}
.left{
    padding: 5px;
    display: flex;
    gap: 1em ;
}
@media(max-width:80em) {
    .chosen-worker .left{
        flex-direction: column;
    }
    .worker-end{
    
        display: none;
    }
    
}