.page-manager-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-right: 30px;
    margin-top: 25px;
    /* min-width: 850px; */
    width: calc(100% - 30px);
    max-width: 1280px;
    gap: 3em;
    overflow-x: scroll;
    scroll-behavior: smooth;
    

}
.page-manager-upper::-webkit-scrollbar{

    display: none;
}
.page-manager-upper .right-upper{
    display: flex;
    gap: 1em;
}

.page-manager-upper button{
    min-width: 50px;
    width: fit-content;
    background-color: hsla(0, 23%, 82%, 0.199);
    border: none;
    border-radius: 60000px;
    height: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 5px 8px;
    padding-right: 12px;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
    border: 1px solid rgba(63, 63, 63, 0.082);
    
    
}
.page-manager-upper button svg{
    height: 24px;
    fill: rgba(0, 0, 0, 0.801);
}

.page-manager-upper button:hover{
    border: 1px solid rgba(154, 192, 230, 0.555);
    background-color: rgba(154, 192, 230, 0.555);
    color: white;
}
.page-manager-upper button:hover svg{
    fill: white;
}

.button-toggle.ascending .order{
    rotate: 180deg;
}
.dropdown .back{
    rotate: 270deg;
    scale: .9;
}


.search-container{
    display: flex;
    align-items: center;
    background-color: hsla(0, 23%, 82%, 0.199);
    border-radius: 6px;
    padding: 1px 8px;
    border: 1px solid rgba(128, 128, 128, 0);

}
.search-container input{
    background-color: transparent;
    color: var(--regular-font-color);
    border: none;
    outline: none;
    padding: 5px ;

}
.search-container svg{
    height: 20px;
}
.header-burger{
    padding-top: 30px;
    padding-bottom: 10px;
    cursor: pointer;
    display: none;
    border-radius: 10px 10px 0px 0px;
}


.bg-black-adding,
.summary-bg-black{
    background-color: rgba(0, 0, 0, 0.192);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    width: 100%;
    height: 100vh;
}
.adding-worker-modal,
.summary-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 550px;
    max-width: 95%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;

}
.summary-modal p{
    font-size: 14px;
    font-weight: 500;
    color: rgb(75, 75, 75);
}
.summary-modal .modal-bottom{
    margin-top: 40px;
}
.summary-modal .modal-bottom svg{
    background-color: transparent;
    border: none;
    fill: white;
}
.summary-modal .modal-bottom button{
    display: flex;
    align-items: center;
    gap: .5em;
    justify-content: center;
    transform: scale(.9);
}
.summary-buttons{
    display: flex;
    gap: 1em;
    margin-top: 10px;
   
}
.summary-buttons button{
    padding: 7px 10px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.308);
    border-radius: 4px;
    font-weight: 600;
    transition: all 200ms ease;
    cursor: pointer;
    color: rgb(83, 83, 83);
   

}
.summary-buttons .chosen{
    background-color: rgb(167, 227, 255);
    border: 1px solid rgb(167, 227, 255);
    color: white;
}
.top-p{
    font-weight: 600;
    padding-bottom: 10px;
}

.adding-worker-modal input{
    padding: 5px 20px;
    border: 1px solid rgb(255, 186, 186);
    border-radius: 5px;
}

.filter-by{
    position: absolute;
    width: fit-content;
    padding: 5px 15px;
    background-color: rgb(154, 192, 230);
    z-index: 12;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.253);
   
}
.filter-by .options{
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 15px;
    font-weight: 600;
    color: white;
    height: 25px;
}
.filter-by .options:hover{

}
.filter-by svg{
    height: 20px;
    width: 20px;
    fill:white ;
}

.filter-by .icon-container{
    min-width: 24px;
    min-height: 24px;
}
.slider-container{
    display: flex;
    position: relative;
    height: fit-content;
    align-items: baseline;
}
.slide{
    cursor: pointer;
    visibility: visible;
    height: 40px;
    width: 40px;
    background-color: rgb(241, 241, 241);
    position: absolute;
    top: 18px;
    display: none;
    place-content: center;
    z-index: 3;
   

}
.slide.hide{
    visibility: hidden;
    pointer-events: none;
}
.slide.left-container{
    left: 0px;
    box-shadow: 30px 0px 15px -2px rgb(241, 241, 241);

}
.slide.right-container{
    right: 0px;
    box-shadow: -30px 0px 15px -2px rgb(241, 241, 241);
}

.slide svg{
    height: 28px;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 50%;
    padding: 5px;
}
.slide.slide.right-container svg{
    transform: rotate(180deg);
}
.slide:hover svg{
    background-color: rgb(199, 199, 199);
}
.page-manager-upper .not-active{
    opacity: .3;
    cursor: not-allowed;
   
}
.page-manager-upper .not-active:hover{
    background-color: hsla(0, 23%, 82%, 0.199);
    border: 1px solid rgba(63, 63, 63, 0.082);
    color: rgba(0, 0, 0, 0.801);
}
.page-manager-upper .not-active:hover svg{
    fill: rgba(0, 0, 0, 0.801);
}
.search-container.not-active:hover{
    border: 1px solid rgba(128, 128, 128, 0);
}
.search-container.not-active input{
    pointer-events: none;
}
.upper-inputs{
    width: 100%;
    display: flex;
    gap: 2em;
}
.custom{
    padding: 15px 0px;
    padding-bottom: 2px;
}

.flexy-input{
    display: flex;
    gap: .5em;
    padding: 10px 0px;
    align-items: center;
}

.flexy-input input{
    padding: 3px 10px;
    border: 1px solid rgb(145, 210, 253);
    border-radius: 8px;
    outline: none;
    
}
.flexy-input input:focus{
    border: 1px solid rgba(8, 156, 255, 0);
    box-shadow: inset 0px 0px 1px 1px rgb(8, 156, 255);

}
.excel{
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: 600;
    color: rgb(68, 68, 68);
}
.orders-and-summary .excel svg{
    fill: green;
    scale: 1.1;
}
.orders-and-summary .log-out svg{
    fill: black;
}
.summary-modal.leaving{
    width: fit-content;
    display: flex;
    gap: 2em;
    padding: 20px;
    
}
.summary-modal.leaving button{
    width: fit-content;
    padding: 3px 20px;
    height: 40px;
    display: flex;
    gap: .5em;
    align-items: center;
    border-radius: 20000px;
    font-weight: 600;
    color: rgb(255, 130, 130);
}

.summary-modal.leaving :nth-child(2){
    border: 1px solid rgb(255, 130, 130);
}
.summary-modal.leaving :nth-child(2):hover,
.summary-modal.leaving :nth-child(1):hover
{
    background-color: rgb(255, 130, 130);
    color: white;
}
.summary-modal.leaving :nth-child(2):hover svg{
    fill: white;
}
.summary-modal.leaving .modal-bottom{
    margin-top: 0px;
}
@media(max-width: 80em){
    .header-burger{
        display: flex;
        gap: 1em;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        color: rgb(80, 80, 80);
        padding-top: 10px;
    }
   
}
@media(max-width: 63em){
    .slide{
        display: grid;
    }
}

@media(max-width:40em){
    .filter-by{
        right: 20%;
    }
}
