
.food-picked-top,
.food-picked-bottom,
.picker-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    font-size: 13px;
    
}
.food-picked-top{
    font-weight: 500;
    margin-top: 5px;
   
   
}
.food-picked-bottom{
    margin-top: 5px;
    font-style: italic;
    font-weight: 600;
}
.top-section{
    height: fit-content;
}
.top-section .list-head{
    font-size: 16px;
    font-weight: 400;
}
.top-section .list-head span{
    font-weight: 700;
}
.top-section .input-container{
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 2px 10px;
    background-color: white;
}
.top-section .input-container svg{
    height: 20px;
    width: 15px;
    padding-right: 5px;
}
.top-section input{
   
    outline: none;
    border: none;
   
}
.bg-top-black{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.055);
    z-index: 29;
    display: none;
    pointer-events: none;
}
.bg-top-black.open{
    display: block;
    pointer-events: all;
}

.secondary-modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(95% - 20px);
    max-width: 550px;
    transform: translate(-50%, -50%) scale(.8);
    z-index: 30;
    pointer-events: none;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.404);
    opacity: 0;
    flex-direction: column;
    gap: 2em;
    transition: all 200ms ease;
   
   
}
.secondary-modal-container.open{
    display: flex;
    pointer-events: all;
    animation: move 150ms linear forwards;
}

@keyframes move{
    0%{
        opacity: 0;
        transform: translate(-50%, -50%) scale(.8);
    }
    50%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.1);

    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}




.top-section{
    text-align: center;
    background-color: rgb(255, 225, 225);
    background-image: linear-gradient(60deg, rgb(255, 172, 172), rgba(255, 0, 0, 0.575));
}

.top-section p{
    font-weight: 700;
    font-size: 18px;
    /* padding-top: 10px; */
    color: white;
}
.flexy{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.flexy p{
    font-size: 15px;
    padding: 0px;
    
}
.flexy button{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 8000px;
    background-color: white;
    cursor: pointer;
    color: black;
    font-weight: 600;
    box-shadow: 0px 0px 10px 3px rgb(226, 55, 55);
    
}
.flexy .totalizer-active{
    
}



.totalizer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 35;
    background-color: white;
    height: fit-content;
    min-height: 40vh;
    width: 95%;
    border-radius: 12px;
    display: none;
    pointer-events: none;


}
.totalizer.open{
    display: block;
    pointer-events: all;
}
.totalizer-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.308);
    z-index: 34;
    top: 0;
    display: none;
    pointer-events: none;
}
.totalizer-bg.open{
    display: block;
    pointer-events: all;
}
.all-workers-container{
    padding: 10px 5px;
    height: fit-content;
    /* max-height: 300px; */
    overflow-y: scroll;
}
.all-workers-container::-webkit-scrollbar{
    display: none;
}
.worker-and-food-inner{
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;
    justify-content: space-between;
    flex-grow: 1;
}

.worker-and-food-inner.removed{
    opacity: .3;
    pointer-events: none;
}

.worker-and-food-outer{
    margin-top: 10px;
    box-shadow: 0px 0px 10px 3px rgba(35, 27, 148, 0.253);
    border-radius: 12px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
   
}
.worker-and-food-outer .add-plus{
    fill: rgb(63, 63, 63);
}
.worker-and-food-outer .remove-trash{
    fill: rgb(255, 78, 78);
}

.worker-name{
    font-weight: 600;
    padding: 5px 0px;
}

.totalizer .title{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding: 10px 20px;
    display: none;

}
.upper-total-container{

    box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.068);
}
.upper-total-container,
.total-foods-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 20px);
    font-weight: 500;
    font-size: 17px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
}
.total-foods-container{
    font-weight: 500;
    font-size: 16px;
    text-transform: lowercase;
    margin-top: 10px;
    text-transform: capitalize;
    
}